/* Sidebar base styles */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar hidden by default */
    height: 100%;
    width: 250px;
    background-color: #f8f9fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    transition: transform 0.3s ease-in-out; /* Smooth slide effect */
    z-index: 1050; /* Ensure it overlays content */
}

/* Sidebar hidden (off-screen) */
.sidebar-hidden {
    transform: translateX(-100%);
}

/* Sidebar shown (on-screen) */
.sidebar-shown {
    transform: translateX(0);
}

.content {
    margin-left: 0; /* No margin by default */
    transition: margin-left 0.3s;
    padding-top: 60px; /* Navbar height */
}

.content.sidebar-active {
    margin-left: 250px; /* Adjust content when sidebar is open */
}

@media (min-width: 992px) {
    #sidebar {
        left: 0;
    }
    .content {
        margin-left: 250px; /* Adjust margin by default on larger screens */
    }
}
